torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
pillow
numpy
requests
boto3
aioboto3
boto3
asyncio
fastapi
